body,html{
    font-family: Arial;
    background: url(img/fondo.png)center ;
    background-position: center ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.contenedor{
    background-color: rgb(48, 71, 202);
    height: max-content;
    margin: 10%;
display: flex;
flex-direction: column;

justify-content: space-around;
}
p{
    align-items: center;
}

.txt1{
    background-color: rgb(48, 71, 202);
    text-align: center;
    margin: 5%;
    
    
}
